:root {
  --red: #ff4449;
}

.app {
  background-color: rgb(75, 23, 122);
  color: #eee;
  height: 100vh;
  width: 100vw;
}

.app__Body {
  text-align: center;
  margin: 0 auto;
  padding-top: 50px;
  max-width: 300px;
}

button {
  background-color: transparent;
  color: #eee;
  border: 0;
  display: inline-block;
  width: 100px;
  cursor: pointer;
}

button:hover {
  color: rgb(0, 255, 115);
}

button.with-text {
  margin-top: 20px;
  width: auto;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 10px;
  padding: 10px 20px;
  font-size: 1.4rem;
  line-height: 36px;
}

button.with-text svg {
  width: 36px;
  float: left;
  margin-right: 5px;
}
